<header>
          <a href = "/"><div class="ZEEGA-tab action"></div></a>
          <div class="cover">
            <span class="headline home">
              <h2> Make the web</h2><h2> you want</h2>
            </span>
            <span class ="join">
              <h1>
                <a href="http://zeega.com/m/register" >Join Zeega</a>
              </h1>
            </span>
          </div>
</header>



<div class="zeegas-wrapper">
    <h1>
      {{#if params.tags }}
      #{{params.tags}} &darr;
      {{else}}
      Featured Zeegas &darr;
      {{/if}}
    </h1> 


    {{#each models}}
      {{#if cover_image }} 
      <article style="background-image: url({{ cover_image }});" >
      {{else}}
      <article>
      {{/if}}
        <div class="info-overlay">
            <div class="left-column">
              <a href="/profile/{{user.id}}" >
                <div class="profile-token" style="background-image: url({{ user.thumbnail_url }});"></div>
              </a>
            </div>
            <div class="right-column">
              <h1 class = "caption">{{title}}</h1>
              
              <div class="profile-name">
                <a href="/profile/{{user.id}}" >
                  {{user.display_name}}
                </a>
                <span class="zeega-views">
                  &#9658; {{views}}
                  {{#if hasOneView }}
                    view
                  {{else}}
                    views
                  {{/if}}
                </span>
              </div>
              
            </div>
              
        
        </div>
        <a href="/m/{{id}}" class="mobile-play"></a>

      </article>
    {{/each}}
</div>
{{view "footer_view" }}