<header>
          <div class="ZEEGA-tab action"></div>
          {{#if background_image_url}}
          <div class="cover" style ="background-image:url({{background_image_url}})">
          {{else}}
          <div class="cover profile">
          {{/if}}

          <div class="profile-token-large"><img src="{{thumbnail_url}}"></div>
            <span class="headline">
              <h2>{{display_name}}</h2>
              <p class="bio">{{bio}}</p>
            </span>
          </div>
</header>
{{view "zeegas_view" collection_name="Zeegas" param_name="user" param_value=id lazy="true"}}
