<header>
          <a href = "/"><div class="ZEEGA-tab action"></div></a>
          {{#if background_image_url}}
          <div class="cover" style ="background-image:url({{background_image_url}})">
          {{else}}
          <div class="cover profile">
          {{/if}}
            <span class ="join">
              <h1>
                <a href="http://zeega.com/m/register">Join Zeega</a>
              </h1>
            </span>
            <div class="profile-token-large" style="background-image:url({{thumbnail_url}})"></div>
            <span class="headline">
              <h2>{{display_name}}</h2>
              <p class="bio">{{bio}}</p>
            </span>
          </div>
</header>
{{view "zeegas_view" collection_name="Zeegas" param_name="user" param_value=id lazy="true"}}
{{view "footer_view" }}
