<div class="zeegas-wrapper">
    <h1>Latest Zeegas &darr;</h1>



    {{#each models}}
      <article {{#if thumbnail_url }} style="background-image: url({{ thumbnail_url }});" {{/if}} >
        <div class="info-overlay">
            <h1>{{title}}</h1>
            <h2>
                <a href="profile/{{user_id}}" target="blank">
                    <div class="profile-token"><img src="{{user_thumbnail}}"></div>
                    <div class="profile-name">{{display_name}}</div>
                </a>
            </h2>
        </div>
        <a href="http://zeega.com/m/{{id}}" class="mobile-play"></a>

      </article>
    {{/each}}
</div>
