<div class="zeegas-wrapper">
    <h1>Recent Zeegas &darr;</h1>



    {{#each models}}
      {{#if thumbnail_url }} 
      <article style="background-image: url({{ thumbnail_url }});" >
      {{else}}
      <article>
      {{/if}}
        <div class="info-overlay">
            <div class="left-column">
              <a href="/profile/{{user_id}}" >
                <div class="profile-token" style="background-image: url({{ user_thumbnail }});"></div>
               </a>
            </div>
            <div class="right-column">
              <h1 class = "caption">{{title}}</h1>
              
              <div class="profile-name">
                <a href="/profile/{{user_id}}" >
                  {{display_name}}
                </a>
                <span class="zeega-views">
                  <i class="icon-play icon-white"></i>
                   
                  &#9658; {{views}}
                  {{#if hasOneView }}
                    view
                  {{else}}
                    views
                  {{/if}}
                </span>
              </div>
              
            </div>
              
        
        </div>
        <a href="http://zeega.com/m/{{id}}" class="mobile-play"></a>

      </article>
    {{/each}}
</div>
