<div class="zeegas-wrapper">
    <h1>Recent Zeegas &darr;</h1>



    {{#each models}}
      {{#if cover_image }} 
      <article style="background-image: url({{ cover_image }});" >
      {{else}}
      <article>
      {{/if}}
        <div class="info-overlay">
            <div class="left-column">
              <a href="/profile/{{user.id}}" >
                <div class="profile-token" style="background-image: url({{ user.thumbnail_url }});"></div>
               </a>
            </div>
            <div class="right-column">
              <h1 class = "caption">{{title}}</h1>
              
              <div class="profile-name">
                <a href="/profile/{{user.id}}" >
                  {{user.display_name}}
                </a>
                <span class="zeega-views">
                  <i class="icon-play icon-white"></i>
                   
                  &#9658; {{views}}
                  {{#if hasOneView }}
                    view
                  {{else}}
                    views
                  {{/if}}
                </span>
              </div>
              
            </div>
              
        
        </div>
        <a href="http://zeega.com/m/{{id}}" class="mobile-play" data-bypass="true"></a>

      </article>
    {{/each}}
    <div class="more">MORe</div>
</div>
